body, ul, li, p {
  padding: none;
  margin: none;
}

ul, li {
 list-style: none;
}


.state-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: .5px solid black;
}

.state-wrapper li {
  padding: 5px;
  border: .5px solid black;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
}

.custom-tooltip {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.state {
  cursor: pointer;
}

.hide {
  display: none;
}